*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/*
.idea/*/*
/build
app/build.gradle
app/.gitignore
gradle.properties
*.jar
gradle-wrapper.properties
gradlew
*.bat

