*.idea
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/*
.idea/*/*
/build
*.jar
*.bat

/.project
/.settings
/app/.classpath
/app/.project
/app/.settings
/app/build/*
/app/build/
