*.idea
*.iml
/local.properties
.DS_Store
/build
/captures

.idea
.gradle
/build
*.jar

/.project
/.settings
/app/.classpath
/app/.project
/app/.settings
/app/build/*
/app/build/


app/manifest-merger-release-report.txt
